:root {
  --border-color: black;
  --text-color: black;
  --background-color: white;
  --button-background: linear-gradient(to right, #ffff00, #000000);
  --button-text-color: white;
}

/*--Dark Mode Settings--------------*/
body.dark {
  --border-color: white;
  --text-color: white;
  --background-color: black;
  --button-background: linear-gradient(to right, #00a6ab, #c9f6fa);
  --button-text-color: black;
}

#back-button {
  border: none;
  border-radius: 5px; /* Squared corners */
  font-weight: bold;
  cursor: pointer; /* Indicate clickable element */
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  font-size: 20px;
  padding: 15px 22px;
  background: var(--button-background);
  color: var(--button-text-color);
}

main {
  display: flex;
  flex: 1;
  position: relative;
  top: 70px;
  height: calc(100vh - 95px);
}

#blog-posts {
  flex: 1; /* Make sections share available space equally */
  padding: 20px;
  top: 80px; /* Remove top positioning from content */
  margin-top: 10px;
  margin-bottom: 65px;
  border-top: 5px solid var(--border-color);
  border-bottom: 5px solid var(--border-color);
}

.post {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 40px);
  border: 2px solid var(--border-color);
  padding: 10px 0 10px 10px;
  margin: 10px;
}

.post h2 {
  /* Targets all h2 elements within elements with class "post" */
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}

.post p {
  /* Targets all p elements within elements with class "post" */
  line-height: 1.5;
  height: 100px;
  font-style: italic;
  padding-left: 15px;
  padding-top: 5px;
  color: var(--text-color);
}

.post h3 {
  /* Targets all h3 elements within elements with class "post" */
  font-size: smaller;
  margin-bottom: 5px;
  color: var(--text-color);
}

footer {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 0;
  width: 100vw;
  height: 80px;
  border-top: 5px solid var(--border-color);
}

footer h3 {
  text-align: center; /* Center text directly */
  margin-bottom: 10px; /* Add space between header and list */
  margin-top: 3px;
  color: var(--text-color);
}

footer ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 20px; /* Add left margin for list */
  margin-bottom: 0;
}

footer li {
  font-size: 12px;
  margin-bottom: 5px; /* Adjust spacing between list items */
  color: var(--text-color);
}

footer ul li a {
  text-decoration: underline;
  color: inherit; /* Inherit footer text color */
  padding: 5px 10px; /* Adjust link padding */
}
