#back-button {
  border: none;
  border-radius: 5px; /* Squared corners */
  font-weight: bold;
  cursor: pointer; /* Indicate clickable element */
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  font-size: 20px;
  padding: 15px 22px;
  background: linear-gradient(to right, #ffff00, #000000);
  color: white;
}

main {
  display: flex;
  flex: 1;
  position: relative;
  top: 70px;
  height: calc(100vh - 95px);
}

#blog-posts {
  flex: 1; /* Make sections share available space equally */
  padding: 20px;
  top: 80px; /* Remove top positioning from content */
  margin-top: 10px;
  margin-bottom: 65px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

footer {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 0;
  width: 100vw;
  height: 80px;
  border-top: 5px solid black;
}

/*
footer {
  display: flex;
  flex-direction: column;
  color: black;
  border-top: 5px solid black;
  padding: 5px 5px 0 5px;
  margin-top: auto;
  margin-bottom: 10px;
}
*/

footer h3 {
  text-align: center; /* Center text directly */
  margin-bottom: 10px; /* Add space between header and list */
  margin-top: 3px;
}

footer ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 20px; /* Add left margin for list */
  margin-bottom: 0; /* Remove extra bottom margin */
}

footer li {
  font-size: 12px;
  margin-bottom: 5px; /* Adjust spacing between list items */
}

footer ul li a {
  /* text-decoration: none; */
  text-decoration: underline;
  color: inherit; /* Inherit footer text color */
  padding: 5px 10px; /* Adjust link padding */
}
