/*{
  box-sizing: border-box;
} */

.back-nav {
  visibility: hidden;
}

h1 {
  visibility: hidden;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-section h2 {
  text-align: center;
  padding-top: 140px;
  font-weight: bold;
  font-size: 24px;
}

.form-section form label {
  margin-bottom: 5px; /* Add space between label and input */
  display: inline-block; /* Align labels with inputs */
  width: 120px; /* Adjust label width if needed */
}

.form-section form input[type="text"],
.form-section form textarea {
  width: 96.5%;
  margin-bottom: 10px; /* Add space between inputs */
  padding: 10px; /* Add padding for better user experience */
}

.form-section form textarea {
  height: 100px; /* Adjust height as needed for content input */
}

.form-section form button {
  width: 100%; /* Stretch button to full width */
  padding: 10px; /* Add padding for button */
  background-color: #4caf50; /* Adjust button color */
  color: white; /* Adjust button text color */
  border: none; /* Remove default button border */
  cursor: pointer; /* Indicate clickable element */
}

.form-section form {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
}

label {
  font-weight: bold;
}
